/* Declare Variable for font and Color */
:root {
  --dk: #5e3575;
  --lt: #c676f5;
  --bg: #bfaed4;
  --ltfc: #ffffff;
  --accent: chartreuse;
}

/* fix scroll feature with sticky */
html {
  scroll-padding-top: 200px; /* height of sticky header */
}

/* Set all Elements to border-boxes for easy formatting */
* {
  box-sizing: border-box;
}

/* Want all website elements to display block as collumn */
/* Set text and background color for whole body */
body {
  display: block;
  background-color: var(--bg);
  font-family: 'Trebuchet MS', sans-serif;
}

/* Make Header banner sticky to scroll with page */
/* Worked with Classmate Nifer to do this */
header {
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 100px;
  background-color: var(--lt);
}

/* Center my Main Header*/
header h1 {
  text-align: center;
  margin: auto;
  vertical-align: middle;
  line-height: 100px;
}

/* Format my nav buttons with flexbox to be centered */
/* Make sticky to scroll with page */
/* Margin on bottom to space away from main content */
nav {
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
  z-index: 1;
  background-color: var(--dk);
}

/* Format Nav Button Text */
nav a {
  padding: 10px;
  width: 10%;
  text-align: center;
  color: var(--ltfc);
  text-decoration: none;
  border: white;
  border-radius: 10px;
}

/* Underline nav buttons when hovering */
nav a:hover {
  padding: 5px;
  border: 5px dotted var(--accent);
  cursor: pointer;
}

/* Set main to display flex in column direction */
main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Flexbox format my about section */
/* adds margin to bottom to separate from main section */
.about {
  display: flex;
  flex-direction: row;
  margin: 0 20px 200px 20px;
}

/* format profile image */
.profile-pic {
  margin-right: 30px;
  width: 25%;
  height: 25%;
}


/* Use Flexbox to format my projects section */
.project-section {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  margin: 0 20px 200px 20px;
}

/* set with of project description */
.project-dscr {
  width: 15%;
}

/* Formats main project and secondary project section to flexbox */
div.projects {
  display: flex;
  flex-direction: row;
  width: 85%;
}

/* formats main project */
/* adds background image */
.main-project {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  background-image: url("../images/beautiful_placeholder.jpg");
  /* add background colors in case no image renders */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid var(--dk);
}

/* Formats secondary projects to flexbox */
/* 2 tiles then wrap */
.secondary-projects {
  width: 66.6%;
  display: flex;
  flex-wrap: wrap;
}

/* Secondary projects tile formatting */
/* makes 4x4 grid with background image */
.secondary-projects a{
  margin: 5px;
  width: 47%;
  height: 47%;
  background-image: url("../images/beautiful_placeholder.jpg");
  /* add background colors in case no image renders */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--dk);
}


/* Formats Project titles and description */
a>h3 {
  background-color: var(--dk);
  width: 100%;
  text-align: center;
  color: var(--ltfc);
}

/* Center Align the footer */
footer {
  text-align: center;
  background-color: var(--dk);
  color: var(--accent);
}

/* add left/right margin to contact items  for spacing*/
footer a {
  margin: 0 5px;
  text-decoration: none;
  color: var(--ltfc);
  background-color: var(--dk);
}

/* For tablet size and smaller, website reformats to fit content */
@media screen and (max-width: 992px) {

  /* About me section to display column */
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 25px 300px 25px;
  }

  /* Project section is display column */
  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 300px 20px;
  }
  /* Format My Projects description height */
  .project-dscr {
    min-height: auto;
    align-self: center;
    width: 80%;
    text-align: center;
  }

  /* Project tiles section display column */
  div.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-project {
    width: 80%;
    min-height: 300px;
  }

  /* Secondary project tiles container display column */
  .secondary-projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  /* Secondary project tiles width to 100% */
  .secondary-projects a {
    width: 100%;
    min-height: 150px;
  }
}